#images {
  width: 500px;
  border: thin solid black;
}

#images img {
  width: 100px;
}

body {  
  background-color: lightblue;
}


#links {
  font-weight: bold;
  font-family: Apple Chancery;
}

h1 {
  border: thin solid black;
  text-align: center;
  font-weight: bold;
}

.sticky {
  position:fixed;
  top: 0;
  background: darksalmon;
  width: 100%;
  }
