#output {
  /* Output starts invisible */
  display: none;
  font-size: 30px;
}

#adjective-one-output {
  font-weight: bold;
  font-size: 30px;
}

#output2 {
 /* Output2 starts invisible too */
  display: none;
  font-size: 30px;
}

#place-one-output {
  font-weight: bold;
  font-size: 30px;
}
#output3{
  display: none;
  font-size: 30px;
}

#pet-one-output {
  font-weight: bold;
  font-size: 30px;
}

#output4 {
  /* Output2 starts invisible too */
  display: none;
  font-size: 30px;
}

#verb-one-output{
  font-weight: bold;
  font-size: 30px;
}

#output5 {
  /* Output2 starts invisible too */
  display: none;
  font-size: 30px;
}

#time-one-output{
  font-weight: bold;
  font-size: 30px;
}

button {
  width:100%;
  height:100%;
}

div {
  font-size: 30px;
}